.hero-body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/468/879/828/greek-dark-spec-art-simple-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
#gods{
  background-image: url('https://previews.123rf.com/images/sergiobarrios/sergiobarrios1305/sergiobarrios130500012/19499820-roman-mosaic-tiles-detail-of-ancient-wall-decorated-historic-textured-background-ancient-art.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


